
.navbar {
  color: rgb(7, 7, 7);
  box-shadow: 1px 1px 1px #5d5b5b;
  opacity: 10;
}

.navbar .nav-item .nav-link {
  color:rgb(100, 97, 97);
}

.navbar .navbar-brand {
  color: rgb(161, 10, 10);
}

.main-header {
  position: relative;
  background:url(http://roviec.github.io/img/fondo-smm-768x461.jpg);
  background-size: cover;
  min-height: 600px;
}

.background-overlay {
  background: rgba(00, 00, 000,.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.titulo {
  color: rgb(161, 10, 10);
}
#somos{
  position: relative;
  background:url(http://roviec.github.io/img/logo_bn.png);
  background-size: ;
  min-height: 100px;
 }
#servicios{
  position: relative;
  background:url(http://roviec.github.io/img/logo_n.png);
  background-size:  ;
  min-height: 100px;
}
#video{
  background: #030303;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
}
#clientes{
    position: relative;
    background:url(http://roviec.github.io/img/logo_c.png);
    background-size:  ;
    min-height: 100px;
  }

 #blog{
  position: relative;
  background:url(http://roviec.github.io/img/logo_b.png);
  background-size:  ;
  min-height: 100px;
}

#contacto{
  background-image: linear-gradient(to bottom, #6b0e0e 0%, rgb(8, 8, 8) 100%);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#copyrigth {
  background-image: linear-gradient(30deg, #492f2f 0%, #5a0819 100%);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.text-copy{
  color: rgb(251, 196, 43);
}
