
.navbar {
  color: rgb(7, 7, 7);
  box-shadow: 1px 1px 1px #807f7f;
  opacity: 10;
}

.navbar .nav-item .nav-link {
  color: rgb(7, 7, 7);
}

.navbar .navbar-brand {
  color: rgb(22, 22, 22);
}

.main-header {
  position: relative;
  background:url(file:///C:/Users/Maximo/Desktop/socialmediamanagers/img/fondo-smm-768x461.jpg);
  background-size: cover;
  min-height: 600px;
}

.background-overlay {
  background: rgba(00, 00, 000,.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#somos{
  background: #faf9f9;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
}
#servicios{
  background-image: linear-gradient(to bottom, #327744 0%, #043d11 100%);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
}
#clientes{
  background-image: linear-gradient(to bottom, #3f3e3e 0%, black 100%);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
 }

 #blog{
  background-image: linear-gradient(to bottom, #f8f5f5 0%, #131313 100%);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
 }

#contacto{
  background-image: linear-gradient(to bottom, #131313 0%, black 100%);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#copyrigth {
  background-image: linear-gradient(30deg, #29323c 0%, #10151b 100%);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
